- content_for(:header) do
  = javascript_include_tag '//www.google.com/jsapi', 'chartkick'

.col-md-3

.col-md-6
  %h1.text-center= @application.name
  %h4.text-center= @application.url
  %div
    = line_chart @application.events.group_by_day, id: 'application-line', min: (@event_count / 10).round, max: (@event_count + 10), discrete: true
    = pie_chart @application.events.group(:name).count, id: 'application-pie'
  .clearfix
  %table.table
    %thead
      %tr
        %th Event Name
        %th Count
    %tbody
      - @events.each do |key,val|
        %tr
          %td= key
          %td= val.count

.col-md-3
